{% extends 'base.html' %}

{% block content %}
<h1 style="text-align:center;color:#FF5723;font-size:30px;">{{test.name}}</h1>
    {% for question in test.questions.all %}
        <p style="font-size: 23px;">{{question}}</p>
        {% for answer in question.answers.all %}
        <form method="POST"> 
            {% csrf_token %}
            <div style="font-size: 20px;">
                <input type = "radio" name = "{{question.id}}" value = "{{answer.id}}" >{{answer}}<br><br>
            </div>
            {% endfor %}
        {% endfor %} <br><br>
        {% if res %}
        
        <p style="font-size: 20px;">Результат {{percent}}% <br>({{res}}/{{questions}})  </p>
        {%  else %}
            <button type="submit" style="font-size: 20px;">Отправить</button>
        {% endif %}
        </form>
{% endblock %}