{% load static %}

<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>GEO</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link
      href="{% static 'posts/css/default.css' %}"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <h1><a href="#">GEO</a></h1>
        <h2>познавай мир вместе с нами!</h2>
      </div>
      <div id="menu" style="width:110%;">
        <ul>
          <li><a href="/">Главная</a></li>
          <li><a href="/all_posts">Статьи</a></li>
          <li><a href="/tests">Тесты</a></li>
          <li><a href="/weather">Погода</a></li>
          <li><a href="{% url 'forum:topics'%}">Форум</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'posts:logout' %}">Выйти</a></li>
          {% else %}
          <li><a href="{% url 'posts:authorization'%}">Вход/Регистрация</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div id="page">
      <div id="content">
        <div style="margin-bottom: 20px">
        {% block content %}
        {% endblock %}
        </div>
        <div class="twocols"></div>
      </div>
      <!-- end content -->
      <div id="sidebar">
        <div id="search" class="boxed">
          <h2 class="title">Быстрый поиск</h2>
          <div class="content">
            <form id="searchform" method="get" action="">
              <fieldset>
                <input
                  id="searchinput"
                  type="text"
                  name="search"
                  value=""
                />
                <input id="searchsubmit" type="submit" value="Искать" />
              </fieldset>
            </form>
          </div>
        </div>
        <div id="news" class="boxed">
          <h2 class="title">Свежие статьи</h2>
          <div class="content">
            <ul>
              {% block newposts%}
              <li class="first">
                <h3>04 July 2007</h3>
                <p>
                  <a href="http://web-mastery.info/"
                    >In posuere eleifend odio quisque semper&hellip;</a
                  >
                </p>
              </li>
              {% endblock %}
            </ul>
          </div>
        </div>
        <div id="extra" class="boxed">
          <h2 class="title">Обсуждения</h2>
          <div class="content">
            <ul class="list">
              {% block topics %}
              <li>
                <a href="#"
                  >Integer rutrum nisl in mi&hellip;</a
                >
              </li>
              {% endblock %}
            </ul>
          </div>
        </div>
      </div>
      <!-- end sidebar -->
      <div style="clear: both">&nbsp;</div>
    </div>
    <!-- end page -->
    <div id="footer">
      <p id="legal">&copy;2022 Copyright</p>
    </div>
  </body>
</html>
