{% extends 'base.html' %}

{% block content %}
<h2 style="text-align:center;color:#FF5723;font-size:30px;">{{category.name}}</h2><br><br>
{% for post in category.posts.all%}
<h2>{{post.title}}</h2>
    <p>{{post.created_time}}</p>
    {% if post.photo %}
        <p><img src="{{post.photo.url}}" width="600px;" /></p>
    {% endif %}
    <p>{{post.summary}}</p>
    <p><a href="{{post.get_absolute_url}}">Читать далее</a> </p>
{% endfor %}
<p><a href="{% url 'posts:posts'%}" style="color:#144B6B;text-decoration: none;">Назад</a></p>
{% endblock %}